In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt;
from sklearn import metrics,linear_model,model_selection
import math

In [2]:
df = pd.read_csv("temp_mean.csv",header=)

In [7]:
df.head(5)

   Unnamed: 0  YEAR  temp_mean
0           0  1901  28.995833
1           1  1902  29.218333
2           2  1903  28.628333
3           3  1904  28.487500
4           4  1905  28.528333