## <font color="purple"><h4 align="center">Read/Write CSV and Excel Files in Pandas</font>

### <font color="blue">Read CSV</color>

In [4]:
import pandas as pd

df = pd.read_csv("stock_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [17]:
df = pd.read_csv("stock_data.csv", skiprows=1)
df # skiprow

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [18]:
df = pd.read_csv("stock_data.csv", header=1) 
df # skiprows and header are kind of same

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [3]:
df = pd.read_csv("stock_data.csv", header=None, names = ["ticker","eps","revenue","price","people"])
df # defined own header

    ticker            eps  revenue  price         people
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [20]:
df = pd.read_csv("stock_data.csv",  nrows=2) 
df # just read three rows

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.

In [21]:
df = pd.read_csv("stock_data.csv", na_values=["n.a.", "not available"])
df # replace n.a and not available => NaN

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [5]:
df = pd.read_csv("stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'price': ['not available','n.a.'],
        'people': ['not available','n.a.']
    }) # Using dict to replace with NaN value
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

### <font color="blue">Write to CSV</color>

In [5]:
df.to_csv("new.csv",index=False) # by default write index thats why index = True

tickers,eps,revenue,price,people
GOOGL,27.82,87.0,845.0,larry page
WMT,4.61,484.0,65.0,
MSFT,-1.0,85.0,64.0,bill gates
RIL ,,50.0,1023.0,mukesh ambani
TATA,5.6,,,ratan tata

In [6]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [12]:
df.to_csv("new.csv",header=False)

0,GOOGL,27.82,87.0,845.0,larry page
1,WMT,4.61,484.0,65.0,
2,MSFT,-1.0,85.0,64.0,bill gates
3,RIL ,,50.0,1023.0,mukesh ambani
4,TATA,5.6,,,ratan tata

In [13]:
df.to_csv("new.csv", columns=["tickers","price"], index=False)

tickers,price
GOOGL,845.0
WMT,65.0
MSFT,64.0
RIL ,1023.0
TATA,

### <font color="blue">Read Excel</color>

In [27]:
df = pd.read_excel("stock_data.xlsx","Sheet1")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [28]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

def convert_price_cell(cell):
    if cell=="n.a.":
        return 50
    return cell
    
df = pd.read_excel("stock_data.xlsx","Sheet1", converters= {
        'people': convert_people_cell,
        'price': convert_price_cell
    })
df

  tickers            eps  revenue  price         people
0   GOOGL          27.82       87    845     larry page
1     WMT           4.61      484     65     Sam Walton
2    MSFT             -1       85     64     bill gates
3    RIL   not available       50   1023  mukesh ambani
4    TATA            5.6       -1     50     ratan tata

### <font color="blue">Write to Excel</color>

In [29]:
df.to_excel("new.xlsx", sheet_name="stocks", index=False, startrow=2, startcol=1)

**Write two dataframes to two separate sheets in excel**

In [30]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [31]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")